body{
    /*Place gif here*/
    color: aliceblue;
    font-family: 'Work Sans', sans-serif;
    background-color: #091A34;
    background-image: url(https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExZGQxc3J5eXE2bXhyZzJ2c2tlMWdpeXZ6YWwyOWU2cnZxa2phMXA0eiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9cw/NzSUEgbTWB7TW/giphy.gif);
    cursor: 0;
    font-size: 100%;
}

/* GENERAL ----------------------------------------------------------------*/

ul{
    list-style-type: square;
}

/* LINKS ----------------------------------------------------------------*/

a{
    color: #DAC112;
}

a:active{
    color: #DAC112;
}

a:hover{
    color: #FAE76A;
}

a:visited{
    color: #D2A11C;
}

/* WRAPPER ----------------------------------------------------------------*/
.wrapper{
    max-width: 850px;
	margin-right: auto;
	margin-left: auto;
    padding: 10px 10px 10px 10px;
    border-radius: 25px;
    background-color: #3F567A;
    border: .1em solid #091A34;
    outline: .5em solid #3F567A;
}
/* Wrapper for larger screens*/
@media screen and (min-width: 50em){
    .wrapper{
        padding-right: 50px;
	    padding-left: 50px;
        margin-top: 1em;
        margin-bottom: 1em;
    }
}

/* NAVIGTAION ----------------------------------------------------------*/
nav{
    margin-top: .5em;
    margin-bottom: 2em;
    border-radius: 25px;
    background-color: #2E405A;
    border: .2em solid #ffcc00;
    outline: .5em solid #2E405A;
}
nav ul{
    text-align: center;
    list-style: none;
    border-radius: 25px;
}
nav li{
    display: block;
    margin: 0;
}
.navSmaller{
    max-width: 16%;
    padding-bottom: 1em;
}
nav img{
    max-width: 20%;
}

/*navigation for larger screens*/
@media screen and (min-width: 40em){
    nav li{
        display: inline;
        padding: 2em 2em 2em 2em;
    }
    .navSmaller{
        max-width: 6.5%;
        padding-bottom: .5em;
    }
    nav img{
        max-width: 8%;
    }
}

/* FLAT ON WRAP ----------------------------------------------------------*/

.flat-on-wrap{
    background-color: #374B6A;
    padding: 1em 2em 1em 2em;
    border-radius: 25px;
    border: 2px solid #2E405A;
    outline: .5em solid #374B6A;
}

.flat-on-wrap h4{
    margin-bottom: 0;
}

.center{

    text-align: center;
}

/* CARDS -------------------------------------------------------------------*/
.card-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
.card {
display: flex;
    
}
.card-content {
    flex-direction: column;
    width: 100%;
    background-color: #2E405A;
    border: .2em solid #ffcc00;
    outline: .5em solid #2E405A;
    border-radius: 25px;
    margin: 1.25em 1.25em 0.3em 0;
    padding: 1.5em;
}
  
/*640 px - tablet portrait orientation - 2 columns*/
@media screen and (min-width: 40em){
    .card { width: 50%; }
}

.card h3{
    text-align: center;
    padding: 1em;
    margin: 0 -1.5em;
    border-bottom: .2em solid #ffcc00;
}

/* TAGS ---------------------------------------------------------------------*/
.tags{
    list-style: none;
    text-align: center;
    margin-left: -2.5em;
    width: 100%
}

.tags li{
    display: inline-block;
    padding: .5em;
    margin: .3em;
    border-radius: 25%;
    background-color: #FFD93D;
    border: 1px solid #091A34;
    outline: 2px solid #ffcc00;
    color:#2E405A;
}

/* BADGES -------------------------------------------------------------------*/

  .inline-badges {
    width: 50%;
    float: left;
    text-align: center;
  }

  @media screen and (min-width: 50em){
    .inline-badges{
        width: 40%;
        margin-left: 5%;
        margin-right: 5%;
    }
}

/* BREAK -------------------------------------------------------------------*/

.break img{
    padding-top: 1em;
    padding-bottom: 1em;
    width: 90%;
    float: left;
    text-align: center;
  }

  @media screen and (min-width: 50em){
    .break img{
        margin-left: 29%;
        width: 40%;
        padding-top: 1em;
        padding-bottom: 1em;
        float: left;
        text-align: center;
      }
}

/* FOOTER -------------------------------------------------------------------*/

footer{
    text-align: center;
}

/* ASIDE -------------------------------------------------------------------*/

aside{
    text-align: center;
    border-radius: 25px;
    background-color: #374B6A;
    border: .1em solid #2E405A;
    outline: .3em solid #374B6A;
    margin-left: 3em;
    margin-right: 3em;
    margin-bottom: 2em;
    margin-top: 2em;
}

aside ul{
    list-style: none;
}
aside li{
    display: inline;
}

aside img{
    width: 25%;
    padding: .5em;
}

aside h4{
    padding: .2em;
    margin: 0 -.4em;
    border-bottom: .1em solid #2E405A;
}

@media screen and (min-width: 50em){
    aside{
        margin-left: 5em;
        margin-right: 5em;
        margin-bottom: 2em;
        margin-top: 2em;
    }
    aside img{
        width: 10%;
        padding: 0 1em 0 1em;
    }
}

/* REFERENCES -------------------------------------------------------------------*/

.bibliography{
    margin: 1em;
    padding: .8em;
    border-radius: 10%;
    border: 1px solid #091A34;
}

.bibliography h4{
    text-align: center;
    font-size: small;
}

/* LINK ICONS -------------------------------------------------------------------*/

.icon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.coverup{
    color:#2E405A;
}

/* CV IFRAME -------------------------------------------------------------------*/

.cv{
    width: 100%;
    margin-top: 2em;
}

/* HOMEWARD IFRAME -------------------------------------------------------------------*/

iframe {
    border-radius: 5%;
    background-color: #2E405A;
    border: .2em solid #ffcc00;
    outline: .5em solid #2E405A;

	margin: 0 auto;
    margin-bottom: 2em;
    margin-top: 2em;
	display: block;
}

@media screen and (max-width: 55em){
    .Homeward iframe{
        display: none;
    }
}

@media screen and (min-width: 55em){
    .Homeward-widget{
        display: none;
    }
}

/* WIDGETS -------------------------------------------------------------------------------*/

.widget{
    border-radius: 5%;
    background-color: #2E405A;
    border: .2em solid #ffcc00;
    outline: .5em solid #2E405A;

	margin: 0 auto;
    margin-bottom: 2em;
    margin-top: 2em;
	display: block;
}

@media screen and (max-width: 40em){
    .full-widget{
        display: none;
    }

    .widget{
        width: 100%;
    }
}

@media screen and (min-width: 40em){
    .mini-widget{
        display: none;
    }
}

/* SLIDER ----------------------------------------------------------------------------------*/
.bss-slides img{
    margin-bottom: 1em;
}

.video-container iframe{
    width: 100%;
    height: 100%
}