div.SCContent {
	overflow-x: hidden;
	overflow-y: hidden;
}

.SCAnimation canvas {
	-ms-transform: scale(0.5);
	-moz-transform: scale(0.5);
	-webkit-transform: scale(0.5);
	transform: scale(0.5);
	-ms-transform-origin: 0px 0px;
	-moz-transform-origin: 0px 0px;
	-webkit-transform-origin: 0px 0px;
	transform-origin: 0px 0px;
	pointer-events: none;
}

div#obj167 {
position: absolute;
overflow: hidden;
top: 22px;
left: 1498px;
width: 100px;
height: 100px;
opacity: 1;
z-index: 15;
display:none;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
div#obj171 {
position: absolute;
overflow: hidden;
top: 231px;
left: 1492px;
width: 100px;
height: 100px;
opacity: 1;
z-index: 18;
display:none;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
div#obj175 {
position: absolute;
overflow: hidden;
top: 460px;
left: 1508px;
width: 100px;
height: 100px;
opacity: 1;
z-index: 22;
display:none;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
div#obj179 {
position: absolute;
overflow: hidden;
top: 829px;
left: 1467px;
width: 100px;
height: 100px;
opacity: 1;
z-index: 26;
display:none;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
div#obj53 {
position: absolute;
overflow: hidden;
top: 0px;
left: 0px;
width: 1366px;
height: 1024px;
opacity: 1;
z-index: 0;
display:block;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj53_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1366px;
	height: 1024px;
}
div#obj67 {
position: absolute;
overflow: hidden;
top: 669px;
left: 449px;
width: 995px;
height: 986px;
opacity: 1;
z-index: 1;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj67_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 995px;
	height: 986px;
}
div#obj128 {
position: absolute;
overflow: hidden;
top: 601px;
left: 730px;
width: 951px;
height: 820px;
opacity: 1;
z-index: 2;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}

img#obj128_img {
	position: absolute;
	left: 0px;
	top: 72px;
	width: 951px;
	height: 676px;
	transform-origin: 50% 50%;
	transform: rotate(0deg);
	-webkit-transform-origin: 50% 50%;
	-webkit-transform: rotate(0deg);
}
div#obj29 {
position: absolute;
overflow: hidden;
top: 291px;
left: -322px;
width: 848px;
height: 550px;
opacity: 1;
z-index: 3;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj29_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 848px;
	height: 550px;
}
div#obj115 {
position: absolute;
overflow: hidden;
top: 459px;
left: 93px;
width: 412px;
height: 227px;
opacity: 1;
z-index: 4;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj115_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 412px;
	height: 227px;
}
div#obj31 {
position: absolute;
overflow: hidden;
top: 598px;
left: 189px;
width: 332px;
height: 171px;
opacity: 1;
z-index: 5;
display:block;
pointer-events: none;
-webkit-transform: rotate(16deg);
-moz-transform: rotate(16deg);
transform: rotate(16deg);

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj31_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 332px;
	height: 171px;
}
div#obj33 {
position: absolute;
overflow: hidden;
top: 539px;
left: -440px;
width: 832px;
height: 188px;
opacity: 1;
z-index: 6;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj33_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 832px;
	height: 188px;
}
div#obj35 {
position: absolute;
overflow: hidden;
top: 585px;
left: -238px;
width: 1076px;
height: 422px;
opacity: 1;
z-index: 7;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj35_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1076px;
	height: 422px;
}
div#obj45 {
position: absolute;
overflow: hidden;
top: 832px;
left: -334px;
width: 1423px;
height: 482px;
opacity: 1;
z-index: 8;
display:block;
pointer-events: none;
-webkit-transform: rotate(180deg);
-moz-transform: rotate(180deg);
transform: rotate(180deg);

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj45_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1423px;
	height: 482px;
}
div#obj43 {
position: absolute;
overflow: hidden;
top: 838px;
left: 503px;
width: 564px;
height: 317px;
opacity: 1;
z-index: 9;
display:block;
pointer-events: none;
-webkit-transform: rotate(38deg);
-moz-transform: rotate(38deg);
transform: rotate(38deg);

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj43_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 564px;
	height: 317px;
}
div#obj47 {
position: absolute;
overflow: hidden;
top: 657px;
left: 542px;
width: 269px;
height: 348px;
opacity: 1;
z-index: 10;
display:block;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj47_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 269px;
	height: 348px;
}
div#obj56 {
position: absolute;
overflow: hidden;
top: -38px;
left: 0px;
width: 1100px;
height: 230px;
opacity: 1;
z-index: 11;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj56_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1100px;
	height: 230px;
}
div#obj70 {
position: absolute;
overflow: hidden;
top: 750px;
left: 820px;
width: 223px;
height: 223px;
opacity: 1;
z-index: 12;
display:block;
pointer-events: auto;
-webkit-transform: rotate(38deg);
-moz-transform: rotate(38deg);
transform: rotate(38deg);

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj70_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 223px;
	height: 223px;
}
div#obj75 {
position: absolute;
overflow: hidden;
top: -187px;
left: 187px;
width: 548px;
height: 715px;
opacity: 1;
z-index: 13;
display:block;
pointer-events: none;
-webkit-transform: rotate(-15deg);
-moz-transform: rotate(-15deg);
transform: rotate(-15deg);

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}

img#obj75_img {
	position: absolute;
	left: 21px;
	top: 0px;
	width: 505px;
	height: 715px;
	transform-origin: 50% 50%;
	transform: rotate(0deg);
	-webkit-transform-origin: 50% 50%;
	-webkit-transform: rotate(0deg);
}
div#obj77 {
position: absolute;
overflow: hidden;
top: 601px;
left: 361px;
width: 208px;
height: 174px;
opacity: 1;
z-index: 14;
display:block;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj77_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 208px;
	height: 174px;
}
div#obj136 {
position: absolute;
overflow: hidden;
top: 568px;
left: 787px;
width: 92px;
height: 71px;
opacity: 1;
z-index: 19;
display:none;
pointer-events: none;
-webkit-transform: rotate(20deg);
-moz-transform: rotate(20deg);
transform: rotate(20deg);

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj136_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 92px;
	height: 71px;
}
div#obj158 {
position: absolute;
overflow: hidden;
top: 738px;
left: 319px;
width: 58px;
height: 102px;
opacity: 1;
z-index: 23;
display:none;
pointer-events: none;
-webkit-transform: rotate(35deg);
-moz-transform: rotate(35deg);
transform: rotate(35deg);

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj158_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 58px;
	height: 102px;
}
div#obj164 {
position: absolute;
overflow: hidden;
top: 708px;
left: 1069px;
width: 48px;
height: 121px;
opacity: 1;
z-index: 27;
display:none;
pointer-events: none;
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
transform: rotate(45deg);

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj164_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 48px;
	height: 121px;
}

div#obj152 {
position: absolute;
overflow: hidden;
top: 19px;
left: 135px;
width: 844px;
height: 57px;
opacity: 1;
z-index: 17;
display:none;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

font-family: "Quicksand-Medium";
}

div#obj152_content {

}
div#obj131 {
position: absolute;
overflow: hidden;
top: 431px;
left: 637px;
width: 601px;
height: 157px;
opacity: 1;
z-index: 21;
display:none;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

font-family: "Roboto-Mono";
font-size: 0px;
}

div#obj131_content {

}
div#obj156 {
position: absolute;
overflow: hidden;
top: 822px;
left: 96px;
width: 408px;
height: 137px;
opacity: 1;
z-index: 25;
display:none;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

font-family: "Quicksand-Medium";
}

div#obj156_content {

}
div#obj162 {
position: absolute;
overflow: hidden;
top: 660px;
left: 1085px;
width: 200px;
height: 93px;
opacity: 1;
z-index: 29;
display:none;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

font-family: "Quicksand-Medium";
}

div#obj162_content {

}


div#obj192 {
position: absolute;
overflow: hidden;
top: 129px;
left: 1122px;
width: 204px;
height: 162px;
opacity: 1;
z-index: 30;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}

div#obj192 .translated {
	position: absolute;
	top: 0px;
	left: 204px;
	width: 100%;
	height: 100%;
}
div#obj138 {
position: absolute;
overflow: hidden;
top: 22px;
left: 109px;
width: 828px;
height: 69px;
opacity: 1;
z-index: 16;
display:none;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #D4EFFC;
border-width: 1px;
border-style: solid;
border-radius: 33px;
-moz-border-radius: 33px;
-webkit-border-radius: 33px;
background-color: #D4EFFC;
background-repeat: repeat;
}
div#obj133 {
position: absolute;
overflow: hidden;
top: 420px;
left: 616px;
width: 507px;
height: 160px;
opacity: 1;
z-index: 20;
display:none;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #D4EFFC;
border-width: 1px;
border-style: solid;
border-radius: 33px;
-moz-border-radius: 33px;
-webkit-border-radius: 33px;
background-color: #D4EFFC;
background-repeat: repeat;
}
div#obj154 {
position: absolute;
overflow: hidden;
top: 806px;
left: 77px;
width: 389px;
height: 166px;
opacity: 1;
z-index: 24;
display:none;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #EDC740;
border-width: 1px;
border-style: solid;
border-radius: 33px;
-moz-border-radius: 33px;
-webkit-border-radius: 33px;
background-color: #EDC740;
background-repeat: repeat;
}
div#obj160 {
position: absolute;
overflow: hidden;
top: 647px;
left: 1057px;
width: 210px;
height: 119px;
opacity: 1;
z-index: 28;
display:none;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #52B9A8;
border-width: 1px;
border-style: solid;
border-radius: 33px;
-moz-border-radius: 33px;
-webkit-border-radius: 33px;
background-color: #52B9A8;
background-repeat: repeat;
}

audio#obj5383 {
position: absolute;
overflow: hidden;
top: 88px;
left: -314px;
width: 204px;
height: 192px;
opacity: 1;
z-index: 31;
display:block;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
audio#obj5558 {
position: absolute;
overflow: hidden;
top: 436px;
left: -342px;
width: 256px;
height: 192px;
opacity: 1;
z-index: 32;
display:block;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}






body {
font-family: "FuturaStd-Bold";
font-size: 20px;
line-height: 1.2;
color: #000000
}
:link { color: #0A52A2; }
:visited { color: #5B2599; }
/* Start of default CSS Styles */
p, h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    padding: 0px;
}
h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .67em; }
.flipHor{
    transform: scaleX(-1);
}
/* End of default CSS Styles */
.SCPage {
background-color: #FFFFFF
}
